<%- include('header'); -%>
  <div class="container">
      <!-- <div class="jumbotron text-center"> -->
          <h1>Plout</h1>
          <p>A splash of love</p>
          <p>A splash of divine</p>
          <!-- <img src="img/cartoonC.jpg" alt="Quickpound Logo"> -->
          <p id="log">Login or Signup:</p>
          <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
      </div>
  </div>
<%- include('footer'); -%>
