body{
  background-image: url(https://i.pinimg.com/originals/bf/58/88/bf5888c666e2ba3614f9ddd5a63f7739.jpg);
  background-size: cover;
}

.signup{
  background-image: url(https://bestanimations.com/Nature/Water/ocean-water-animated-gif-3.gif);
}
.login{
  background-image: url(https://bestanimations.com/Nature/Water/ocean-water-animated-gif-3.gif);
}

a{
  color: gold;
}

#log{
  color:maroon;
}
li{
  list-style: none;
}
